.add-post{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-post-form{
  margin: 0 auto;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
}

#file {
  display: none;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.question-preview{
  display: none;
  align-self: center;
  max-width: 400px;
  margin-bottom: 10px;
}

.actions{
  width: 480px;
  display: flex;
  justify-content: space-around;
}
