<div class="post">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Cevap:{{answer}} &nbsp; Konu:{{object}} &nbsp; Ders:{{lesson}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button (click)="like()" class="like">
        <mat-icon *ngIf="isLike;else elseLike">favorite</mat-icon>
        <ng-template #elseLike>
          <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </button>
      <button mat-button (click)="reply()" class="reply">
        <mat-icon>add_comment</mat-icon>
      </button>
      <button mat-button (click)="bookmark()" class="bookmark">
        <mat-icon *ngIf="isBookmark;else elseBookmark">bookmark</mat-icon>
        <ng-template #elseBookmark>
          <mat-icon>bookmark_border</mat-icon>
        </ng-template>
      </button>
    </mat-card-actions>
  </mat-card>
</div>