<div class="settings">
  <form [formGroup]="settingsForm" class="settings-form">
      <mat-form-field appearance="outline">
          <mat-label>E-Posta</mat-label>
          <input matInput placeholder="E-Posta" type="email" required>
        </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput placeholder="Kullanıcı Adı"  required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Şifre</mat-label>
      <input matInput placeholder="Şifre" type="password" >
    </mat-form-field>
    <div class="actions">
        <button mat-raised-button color="warn">Kaydet</button>
    </div>
  </form>
</div>
